.main__container
  .main__container__header
  %main.main__container__body
    %span.main__container__body__top
      重要度高
    %span.main__container__body__right
      緊急度高
    %span.main__container__body__left
      緊急度低
    %span.main__container__body__bottom
      重要度低
    %section.main__container__body__matrix
      %ul.main__container__body__matrix__ul
        %li#matrix__upper__left.main__container__body__matrix__ul__li
        %li#matrix__upper__right.main__container__body__matrix__ul__li
        %li#matrix__lower__left.main__container__body__matrix__ul__li
        %li#matrix__lower__right.main__container__body__matrix__ul__li
        
          
          
          