.main__container
  .main__container__header
  %main.main__container__body
    %span.main__container__body__top
      重要度高
    %span.main__container__body__right
      緊急度高
    %span.main__container__body__left
      緊急度低
    %span.main__container__body__bottom
      重要度低
    %section.main__container__body__matrix
      .main__container__body__matrix__square
        .main__container__body__matrix__square__upper__left
        %ul.main__container__body__matrix__square__upper__right__ul
          - @todos_upper_right.each do |todo_upper_right|
            %li.main__container__body__matrix__square__upper__right__ul__li
              = todo_upper_right.title
        .main__container__body__matrix__square__lower__left
        .main__container__body__matrix__square__lower__right
      
          
          
          