.main__container {
  width: calc(100vw - 180px);
  &__header {
    height: 66px;
    border-bottom: 1px solid black;
  }
  &__body {
    position: relative;
    >span {
      padding: 0.5rem;
      font-weight: 800;
      opacity: 0.5;
    }
    &__top {
      position: absolute;
      top: 0;
      left: 46%;
      letter-spacing: 0.4rem;
    }
    &__right {
      width: 1rem;
      position: absolute;
      top: 42%;
      bottom: 58%;
      right: 0;
      text-orientation: upright;
    }
    &__left {
      width: 1rem;
      position: absolute;
      top: 42%;
      bottom: 58%;
      left: 0;
      text-orientation: upright;
    }
    &__bottom {
      position: absolute;
      bottom: 0;
      left: 46%;
      letter-spacing: 0.4rem;
    }
    &__matrix {
      height: calc(100vh - 66px);
      padding: 2rem;
      &__ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 45vh 45vh;
        flex-direction: row-reverse;
        &__li {
          font-size: 1.0rem;
          font-weight: 900;
        }
      }
      #matrix__upper__left {
        border-right: 1px solid gainsboro;
        border-bottom: 1px solid gainsboro;
      }
      #matrix__upper__right {
        border-bottom: 1px solid gainsboro;
      }
      #matrix__lower__left {
        border-right: 1px solid gainsboro;
      }
      #matrix__lower__right {
      }
    }    
  }
}      