.main__container {
  width: calc(100vw - 180px);
  &__header {
    height: 66px;
    border-bottom: 1px solid $darkgray;
    opacity: 0.5;
    &__name {
      padding: 0.5rem;
      &__label {
        font-size: 0.8rem;
      }
      &__p {
        font-weight: bold;
        font-size: 1.2rem;
        margin-left: 1rem;
      }
    }
  }
  &__body {
    position: relative;
    >span {
      padding: 0.5rem;
      font-weight: 800;
      opacity: 0.5;
      font-size: 0.8rem;
    }
    &__top {
      position: absolute;
      top: 0;
      left: 48%;
      letter-spacing: 0.4rem;
    }
    &__right {
      width: 1rem;
      position: absolute;
      top: 44%;
      bottom: 56%;
      right: 0;
      text-orientation: upright;
    }
    &__left {
      width: 1rem;
      position: absolute;
      top: 44%;
      bottom: 56%;
      left: 0;
      text-orientation: upright;
    }
    &__bottom {
      position: absolute;
      bottom: 0;
      left: 48%;
      letter-spacing: 0.4rem;
    }
    &__matrix {
      padding: 2rem;
      &__square {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 43vh 43vh;
        flex-direction: row-reverse;
        ul {
          overflow-x: hidden;
          overflow-y: scroll;                    
          li {
            padding: 0.1rem 0.7rem;
            border-bottom: 1px solid rgba(204, 204, 204, 0.2);
            list-style-type: disc;
            display: flex;
            align-items: center;
            overflow: hidden;
          }
        }
        &__upper__left__ul {
          border-right: 1px solid gainsboro;
          border-bottom: 1px solid gainsboro;
          &__li {
            &__icon--link {
              color: rgba(189, 8, 28, 0.5);
              padding: 0.4rem;
              font-size: 1.5rem;
            }
            &__icon--link:hover {
              opacity: 0.5;
            }
            &__section {
              padding-left: 0.5rem;
              width: 100%;
              >a {
                text-decoration: none;
                color: $darkgray;
              }
              &--title {
                font-size: 1rem;
                font-weight: bold;
              }
              &--deadline {
                font-size: 0.7rem;
                margin-left: 4rem;
              }
              &__section:hover {
                opacity: 0.7;
              }
            }
            button {
              font-size: 0.5rem;
              border-radius: 0.5rem;
              width: 3rem;
              height: 1.5rem;
              margin-right: 0.2rem;
            }
          }
        }
        &__upper__right__ul {
          border-bottom: 1px solid gainsboro;
        }
        &__lower__left__ul {
          border-right: 1px solid gainsboro;
        }
        &__lower__right__ul {
        }
      }
    }    
  }
}      