.main__container {
  
  .index-container__side {
    .side__bar {
      width: 180px;
      height: 100vh;
      background-color: $line;
      .side__bar__header {
        .side__bar__header--logo {

        }
        .side__bar__header--username {

        }
      }
      .side__bar__main__ul {
        
        .side__bar__main__ul__li {

        }
      }
    }
  }
}